body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url("images/download\ A.jpg");
    background-size: cover;
}

.box {
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.box h1 {
    color: rgb(243, 243, 236);
    text-transform: uppercase;
    font-weight: 700;
}

.box input[ type="text"],
.box input[ type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid rgb(54, 54, 199);
    padding: 14PX 10px;
    width: 220px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;
}

.box input[ type="text"] :focus,
.box input[type="password"]:focus {
    width: 270px;
    border-color: yellow;
}

.box input[ type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid yellow;
    padding: 14PX 35px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;
}

.box input [ type="submit"]:hover {
    background: yellow;
}